.clockContainer {
  width: 200px;
  height: 60px;
  background-color: black;
  color: white;
  vertical-align: middle;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.timer {
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  margin-right: 20px;
  font-family: Orbitron;
}
