.player-card {
  width: 100%;
  height: 90px;
  padding: 10px !important;
  margin: 10px;
}

.stats {
  font-size: smaller !important;
  font-style: italic !important;
}

.name {
  font-size: larger !important;
  font-weight: bold !important;
}

.highlight {
  background-color: cornflowerblue !important;
}
